.quantity input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.quantity input::-webkit-inner-spin-button,
.quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.quantity input {
  border: 0;
  font-size: 1rem;
  text-align: center;
  width: 40px;
  max-width: 200px;
}
.quantity input:focus {
  outline: 0;
}
.quantity button {
  border: 0;
  background-color: transparent;
}
.quantity i:hover {
  cursor: pointer;
}
