.search {
  display: flex;
  margin-top: 3rem;
}
.search h2 {
  font-style: italic;
  font-weight: 500;
  width: 300px;
}
.search input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--light-gray-color);
  width: 22%;
  min-width: 230px;
  margin-left: 2rem;
}
.search input {
  outline: 0;
}
.search select {
  margin-left: auto;
  padding-right: 2rem;
  height: 1.5rem;
}
