.banner {
  width: 100%;
  aspect-ratio: 3/1.25;
  background-image: url("../../image/banner1.jpg");
  background-position: 60% 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  width: 522px;
  padding-left: 4rem;
}
.saleoff {
  font-weight: 400;
  font-size: 3rem;
  padding: 1.5rem 0;
}
.title {
  color: var(--gray-color);
}
.btn button {
  font-size: 1rem;
  color: var(--gray-color);
  border: 0;
  padding: 0.5rem 1.5rem;
  background-color: var(--dark-color);
}
.btn button:hover {
  background-color: var(--lightDark-color);
  cursor: pointer;
}
